
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 7, 7);
    font-family: raleway, sans-serif;
    line-height: 1.6;
}

header, footer, aside {
    padding: 1rem;
    background-color: rgb(247, 245, 226);
    text-align: center;
}

.section-title {
    font-size: large;
    display: inline;
}

/* Fonts */
h1, h2, p {
    margin-bottom: 0.3em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase; 
    color: rgb(97, 7, 7);
}

.ingress {
    font-size: 1.2em;
    font-weight: bold;
}

/* Layout Styling */
header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 170px;
    height: auto;
}

.preview img {
    width: 50%;
    height: auto;
}

main {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "event"
    "news"
    "aside";
    gap: 1rem;
    padding: 1rem;
}

main section {
    display: grid;
    gap: 1rem;
}

.event article, .news article {
    padding: 1rem;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section .event{
    grid-area: event;
}

section .news{
    grid-area: news;
}

aside{
    grid-area: aside;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #fff;
}

aside .calendar-heading{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

aside .calendar{
    border: 1px solid #bebdac;
    border-radius: 5px;
    background-color: #F7F5E2;
    gap: 0;
}

aside article{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bebdac;;
    padding: 1rem;
}

aside article:last-child{
    border-bottom: none;
}

.text-container{
    gap: 0;
    padding-left: 1rem;
}

.text-container:hover{
    cursor: pointer;
}

.text-container h1{
    text-align: left;
}

.text-container p{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4;
    -webkit-box-orient: vertical;

}


aside article .date{
    height: 3rem;
    width: 3rem;
    border-radius: 99rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 7, 7);
    color: #fff;
    line-height: 1;
    text-align: center;
    align-self: flex-start;
}

/* Responsiv Layout for Tablet
@media (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr; 
    }
    .event, .news {
        grid-template-columns: 1fr; 
    }
} 


    footer{
        grid-template-columns: 1fr;
        
    }
}
*/

/* Responsive Layout for Desktop */

@media (min-width: 1000px) {

    main {
        grid-template-columns: 2fr 1fr; 
        grid-template-areas: 
        "event aside"
        "news aside";
    }


    /*two-column grid */
    .event, .news {
        grid-template-columns: 1fr 1fr;
    }

    footer{
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
    }
    
}

footer{
    background-color: rgb(97, 7, 7);
    color: white;
    display: grid;
    gap: 1.5rem;
    place-items: center;
}

.länkar ul{
    list-style: none;
}

.länkar ul:hover{
    cursor: pointer;
}

/* brand iconer style */
.some figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.fa-brands{
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.some i:hover{
    cursor: pointer;
}