* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer, aside {
    padding: 1rem;
    background-color: #f3f3f3;
    text-align: center;
}

/* Layout Styling */
header {
    display: flex;
    justify-content: space-between;
    max-height: 9em;
}
header img {
    max-width: 10em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

section {
    display: grid;
    gap: 1rem;
}

article {
    padding: 1rem;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Responsiv Layout for Tablet */
@media (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr; 
    }
    .event, .news {
        grid-template-columns: 1fr; 
    }
}

/* Responsive Layout for Desktop */
@media (min-width: 900px) {
    main {
        grid-template-columns: 2fr 1fr; 
    }

    /*two-column grid */
    .event, .news {
        grid-template-columns: 1fr 1fr;
    }
}
